<div class="card-body">
  <h5 class="card-title">WELCOME</h5>
  <p style="color: white"><%=user%></p>
  <p class="card-text">you have successfully loged In.</p>
  <a href="/route/logout" class="card-btn">Log Out</a>
</div>
<link rel="stylesheet" href="/static/style.css" />
